div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 10%;
  box-sizing: border-box; }
  header > div {
    height: auto; }
    header > div:first-child {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background: #cccccc; }
    header > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      padding: 0 20px; }

h1, h2 {
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-weight: 900;
  color: #014d8b; }

h1 {
  font-size: 4.5rem; }

h2 {
  margin-top: -5px; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aeaeae; }

form {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 440px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(102, 102, 102, 0.2);
  box-sizing: border-box;
  transition: .4s ease-in-out; }
  form:hover {
    box-shadow: 3px 4px 5px 0px rgba(181, 167, 181, 0.6); }
  form + p {
    margin: 0;
    padding: 30px; }

a {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: .6s; }
  a:hover {
    color: #7b7b7b; }
    a:hover::after {
      transform: scale(0); }
  a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #aeaeae;
    transition: .6s; }

fieldset {
  position: relative;
  margin: 20px 0;
  padding: 0;
  border: none; }
  fieldset > a {
    position: absolute;
    top: 25%;
    right: 0; }

span {
  position: absolute;
  bottom: 15px;
  color: #FD000D;
  opacity: .6; }

input {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 12px;
  font-size: 1.6rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 0 8px rgba(102, 102, 102, 0.2);
  border: 1px solid rgba(102, 102, 102, 0.2);
  outline: none;
  transition: border .4s; }

input:focus {
  border: 1px solid rgba(102, 102, 102, 0.4); }
  input:focus + label {
    color: #ec008d; }

label {
  position: absolute;
  top: -26px;
  left: 0;
  color: rgba(92, 92, 92, 0.9);
  transition: color .4s; }

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 10px 30px;
  background-color: #ec008d;
  color: #fff;
  border: 2px solid #ec008d;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: .1em;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease 0s; }
  button:hover {
    border: 2px solid #ec008d;
    background-color: #d3007e;
    border: 2px solid #d3007e; }

img {
  display: block;
  max-height: 100px;
  padding: 30px; }

article {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-width: 310px;
  padding: 50px;
  border-radius: 10px;
  background: #fff; }
  article > button {
    max-width: 170px; }
  article > p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }

@media screen and (max-width: 500px) {
  form {
    width: 100%;
    padding: 50px 30px 60px; }
  section, article {
    transform: scale(0.8); }
  section {
    width: 100%; }
  header {
    padding: 30px 0; }
  article > button {
    max-width: 100%;
    transform: scale(0.8); }
  button {
    width: 100%; }
  span {
    bottom: 60px;
    font-size: 1.3rem; }
  fieldset {
    margin: 30px 0; }
    fieldset > a {
      top: auto;
      bottom: -60px; }
  label {
    top: -36px; } }

@media screen and (max-width: 400px) {
  header {
    flex-direction: column; }
    header > div:nth-child(2) {
      transform: scale(0.8); }
  section {
    transform: scale(0.7); }
  form {
    padding: 60px 30px 80px; }
  article {
    padding: 20px; }
  fieldset > a {
    bottom: -80px; }
  button {
    padding: 16px 40px; }
  span {
    bottom: 70px; } }
